<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="greetingBefore" class="ch06.com.baobaotao.advice.GreetingBeforeAdvice"/>
    <bean id="greetingAfter" class="ch06.com.baobaotao.advice.GreetingAfterAdvice"/>
    <bean id="greetingAdvice" class="ch06.com.baobaotao.advice.GreetingBeforeAdvice"/>
    <bean id="greetingAround" class="ch06.com.baobaotao.advice.GreetingInterceptor"/>
    <bean id="target" class="ch06.com.baobaotao.advice.NaiveWaiter"/>


    <!--1. greetingAdvice -->

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="ch06.com.baobaotao.advice.Waiter"
          p:target-ref="target"
          p:interceptorNames="greetingAdvice"/>


    <!--2. before and after advice -->
    <!--
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="ch06.com.baobaotao.advice.Waiter"
          p:target-ref="target"
          p:interceptorNames="greetingBefore,greetingAfter"/>
    -->

    <!--3. around advice
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="ch06.com.baobaotao.advice.Waiter"
          p:target-ref="target"
          p:interceptorNames="greetingAround"/>
          -->

</beans>
